# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.ipr
*.iws

# Android local
android/local.properties
android/.gradle/
android/key.properties

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Pub cache
.pub-cache/
pubspec.lock
.claude
